<nav>
    <div class="logo">
        <img src="logo.jpeg" alt="Your Logo" />
    </div>
    <div class="menu-icon" (click)="toggleMenu()">&#9776;</div>
    <ul class="nav-list" [class.show]="menuOpen">
        <li><a routerLink="/about-us" (click)="closeMenu()">About Us</a></li>
        <li><a routerLink="/services" (click)="closeMenu()">Services</a></li>
        <li><a routerLink="/our-projects" (click)="closeMenu()">Our Projects</a></li>
        <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
    </ul>
    <div class="language-switch">
        <p (click)="switchLang('en')">EN</p>
        <p (click)="switchLang('de')">DE</p>
    </div>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>